[submodule "ethereum-plugin-sdk"]
	path = ethereum-plugin-sdk
	url = https://github.com/LedgerHQ/ethereum-plugin-sdk
[submodule "tests/.test_dependencies/ethereum"]
	path = tests/.test_dependencies/ethereum
	url = https://github.com/LedgerHQ/app-ethereum
